{% extends 'base.html.twig' %}

{% block title %}Editer une catégorie{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}



