{% extends 'base.html.twig' %}

{% block title %}Editer une catégorie{% endblock %}

{% block body %}
    <div class="container">
        {{ include('category/_form.html.twig', {form: form}) }}
    </div>
{% endblock %}
