{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Room</h1>

        {{ include('room/_form.html.twig') }}

        <a href="{{ path('room_index') }}">Back to list</a>
    </div
{% endblock %}
