{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-5">Create new Room</h1>

        <div class="shadow p-3 mb-5 bg-white rounded">
            {{ include('room/_form.html.twig') }}
        </div>
        <div class="text-center">
            <a class="btn btn-dark m-5" href="{{ path('room_index') }}">Back to list</a>
        </div>
    </div
{% endblock %}
